Package: openbox-env
Version: 0.0.1
Section: base
Priority: optional
Architecture: all
Depends: openbox, sudo, lightdm, compton, tint2, pulseaudio, wicd, thunar, thunar-archive-plugin, thunar-gtkhash, thunar-media-tags-plugin, thunar-vcs-plugin, thunar-volman, lxterminal, curl, git, pavucontrol, pasystray, gvfs-backends, notification-daemon, feh, xclip, flameshot, copyq, zim, guake, vim, blueman, xscreensaver, qalculate-gtk, file-roller, nomacs, libreoffice, tig, gnome-keyring, numlockx, arj, jlha-utils, lzip, xz-utils, lzop, ncompress, rpm2cpio, rzip, sharutils, unace, unalz, unar, unzip, xz-utils, zip, thunar, thunar-archive-plugin, thunar-gtkhash, thunar-media-tags-plugin, thunar-vcs-plugin, thunar-volman, deluge, mpv, audacious
Recomended: steam, codium
Maintainer: Marcelo González <11063780+cheloide@users.noreply.github.com>
Description: openbox-env, Sets up openbox environment.
Homepage: https://github.com/cheloide/linux-env
